<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <!-- External CSS -->

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/details.css" />

    <!-- App JS -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/users.js"></script>
    <script defer src="/scripts/search.js"></script>
    <script defer src="/scripts/categories.js"></script>
  </head>
<body>
  <%- include('partials/_header') -%>
  <main>
    <section class="details">
      <article class="details-container">
        <div class="details-img">
          <img src="<%= resource.images_url%>" alt="resource-image">
        </div>
        <div class="details-like">
          <img src="images/redHeart.png" alt="Like">
          <p>(num) people like this</p>
        </div>
        <div class="details-info">
          <p class="details-title"><%= resource.title%></p>
          <p class="details-description"><%= resource.description%></p>
        </div>
        <div class="details-user-info">
          <p>Category: <%= resource.category_name%></p>
          <p>URL:</p>
          <p>Posted By: <%= resource.username %></p>
          <p>Added:</p>
        </div>
        <div class="details-rate">
          <p class="detail-rate-name">Rate</p>
          <div class="details-rate-stars">
            <p>☆</p>
            <p>☆</p>
            <p>☆</p>
            <p>☆</p>
            <p>☆</p>
          </div>
        </div>
        <div class="details-comment">
          <p>Comments 💬</p>
          <input class="details-comment-box" type="text" name="comment" placeholder="Share your thoughts">
          <button class="comment-btn" type="submit">></button>
        </div>
        <article class="user-resource-comment">
          <div class="user-comment">
            <p class="user-detail-comment">Comments</p>
            <div class="user-comment-info">
              <p>@username</p>
              <p>time</p>
            </div>
          </div>
        </article>
      </article>
    </section>
  </main>
</body>
</html>
