<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/resource.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/search.js"></script>
  <script defer src="/scripts/categories.js"></script>
</head>

<body>

<%- include('partials/_header', { categories: categories }) -%>
  <main class="all-resources">
    <section class="resource" id="existingResourceSection">
    <% for (let resource in resources) { %>
      <article class="resource-container">
        <div class="resource-content">
          <img src="<%= resources[resource].images_url %>" alt="resource-photo" class="resource-img">
          <img class="resource-like" src="images/heart.png" alt="Like" id="<%= resources[resource].id %>" />
        </div>
        <div class="resource-info">
          <p class="resource-title"><%= resources[resource].title %>}</p>
        </div>
        <div class="resource-links">
          <a href="<%= resources[resource].url %>" class="resource-visit-btn" target="_blank"><span>🔗</span> Visit</a>
          <a href="/resource/<%= resources[resource].id %>" class="resource-more-btn"><span>➕</span> More</a>
        </div>
      </article>
    <% } %>
    </section>
    <!-- Existing Resource Section -->
  </main>
</body>

</html>
